body {
    display: inline-block;
    font-family: Verdana, sans-serif;
    color: #f8f5f5;
    background-color: #080708e1;
    overflow-x: hidden;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
    }

  main {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.5;
    color:#f9f9f9;
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
  }
  
  footer {
    color: #f8f8f8;
    position: relative;
    bottom: -520px;
    left:0;
    padding: 0;
    margin-top: 220px;
    margin-bottom: 0;
  }
  

  footer p {
    font-size: 1rem;
    color: #faf6f6;
  }
  
  .navbar {
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%;  
    z-index: 1;  
  }
  
  .header {
    margin-top: 50px;  
    font-size: large;
    color:#fdfdfd
  }
  
  .navbar {
    background-color: #05d8fdf6; 
    height: 50px;
    border-radius: 20px;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .navbar li {
    margin-left: 30px;
  }
  
  .navbar a {
    color: #fcfafa;
    text-decoration: none;
    font-weight: bold;
    padding: 0 30px;
    position: relative;
    transition: transform 0.2s ease-in-out;
    font-size: large;
  }
  
  .navbar a:hover {
    background-color: #100101;
    color: rgb(9, 121, 249);
    transform: translateX(-10px);
  }
  
  .linkedin{
    position: absolute;
    top: 300px;
    left: 600px;
  }
  a img:hover {
    transform: scale(1.2);
  }
  .github{
    position: absolute;
    top: 300px;
    left: 700px;
    filter: invert(100%);
  }
  .gmail{
    position: absolute;
    top: 300px;
    left: 508px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  
  .grid-item {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  
  .grid-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
  }
  
  .grid-item p {
    margin-top: 5px;
  }
  
  .highlight {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(5, 228, 244);
  }
  .box {
    background: linear-gradient(to right, #00f694 0%, #01f5d4 50%, #0333f5 100%);
    display: inline-block;
    color:#fffdfd;
    border-radius: 5px;}
  
  .record-player {
    background-color: #00b3ff;
    width: 250px;
    height: 190px;
    position: absolute;
    transform: translate(-50%, -50%);
    right: -100px;
    top: 200px;
    border-radius: 8px;
  }
  .record {
    height: 175px;
    width: 175px;
    background-color: #181312;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .record:after {
    position: absolute;
    content: "";
    border: 5px solid transparent;
    border-top-color: #2c2424;
    border-bottom-color: #2c2424;
    border-radius: 50%;
  }
  .record:before {
    height: 135px;
    width: 135px;
  }
  .record:after {
    height: 95px;
    width: 95px;
  }
  .label {
    background-color: #181312;
    height: 15px;
    width: 15px;
    border: 20px solid #01c6f795;
    border-radius: 50%;
  }
  .tone-arm {
    height: 90px;
    width: 6px;
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    right: 20px;
    transition: 1s;
    transform-origin: top;
  }
  .control {
    background-color: #181312;
    height: 17px;
    width: 17px;
    border: 10px solid #2c2c2c;
    border-radius: 50%;
    position: absolute;
    top: -16px;
    left: -16px;
  }
  .tone-arm:before {
    content: "";
    height: 40px;
    width: 6px;
    background-color: #f8f4f4;
    position: absolute;
    transform: rotate(30deg);
    bottom: -36px;
    right: 10px;
  }
  .tone-arm:after {
    content: "";
    position: absolute;
    height: 0;
    width: 10px;
    border-top: 18px solid #aea3a3;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    top: 108px;
    right: 12.5px;
    transform: rotate(30deg);
  }
  .play {
    transform: rotate(30deg);
    transform-origin: top;
    transition: 1s;
  }
  .on {
    animation: spin 3s 1s linear infinite;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  .visualizer{
    position: relative;
    top: -40px;
    left: 340px;
    filter: invert(100%);
  }
  
  .scaled {
    transform: scale(0.8); 
  }
  .text1{
    position:relative;
    top:-460px;
    left:0px;
    display: inline-block;
  }
  .text2{
    position:relative;
    top:-800px;
    left:500px;
    display: inline-block;
  }
  .text3{
    position:relative;
    top:-1000px;
    left:0px;
    display: inline-block;
  }
  a{
    color:#03ddf9;
  }
  .tank_game{
    position: relative;
    top: -40px;
    left: 165px;
    filter: invert(100%);
  }
  .connect_4{
    position: relative;
    top: -40px;
    left: 230px;
    filter: invert(100%);
  }
  #contact, #about, #projects, #skills{
    padding-top: 40px;
  }
  .mv_container {
    display: block;
    position:relative;
    top:-150px;
      left:800px;
    height: 400px;
    width: 600px;
    }
    .visual{
    display: block;
    width: 600px;
    height: 400px;  
    }
    .mv_overlay {
    display: block;
    position:relative;
    top:-400px;
    height: 100%;
      width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #07d6f1d8;
    }
  
    .mv_container:hover .mv_overlay {
    opacity: 0.8;
    }
    .visualtext {
    color: rgb(9, 141, 249);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    }
  
    .tg_container {
    display: block;
    position:relative;
    top:-800px;
      left:800px;
    height: 450px;
    width: 600px;
    }
    .tg{
    display: block;
    width: 600px;
    height: 450px;  
    }
    .tg_overlay {
    display: block;
    position:relative;
    top: -450px;
    height: 100%;
      width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #07d6f1d8;
    }
  
    .tg_container:hover .tg_overlay {
    opacity: 0.8;
    }
    .tgtext {
    color: rgb(9, 141, 249);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    }
    .c4_container {
    display: block;
    position:relative;
    top:-550px;
      left:-150px;
    height: 400px;
    width: 500px;
    }
    .c4{
    display: block;
    width: 500px;
    height: 400px;  
    }
    .c4_overlay {
    display: block;
    position:relative;
    top: -400px;
    height: 100%;
      width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #07d6f1d8;
    }
  
    .c4_container:hover .c4_overlay {
    opacity: 0.8;
    }
    .c4text {
    color: rgb(9, 141, 249);
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    }
    #phone {
    display: inline-block;
    position: absolute; 
    bottom: 60px; 
    left: 250px; 
    z-index: 999; 
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    background-color: #04f8f8dd;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #f6f5f2be; }
  
    #phone:hover {
    background-color: #0797f0;
    color:rgb(9, 1, 4);}
  
    .resume-button {
    display: inline-block;
    position: absolute; 
    bottom: 60px; 
    left: 20px; 
    z-index: 999; 
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    background-color: #f4f3ee00;
    color: #fbfbfbf9;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #a4a49c92;}
  
    .resume-button:hover {
    background-color: #7c6ec270;
    color:rgba(0, 255, 255, 0.591);}
  
    #myBtn {
    position: fixed; 
    display:inline-block;
    bottom: 20px; 
    right: 10px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: rgba(5, 197, 255, 0.993); 
    color: rgb(255, 252, 252); 
    cursor: pointer; 
    padding: 8px; 
    border-radius: 50%; 
    font-size: 30px; 
    text-align: center;
    width: 45px;
    height: 45px;
    }
    #myBtn:hover {background-color: #555;}
    .sun{display: none;}
    .moon{position: fixed; top:6px; left:1158px; filter: invert(100%); z-index: 99;}
    .moon:hover{transform: scale(1.2);}
    ul.circle {list-style-type: circle;}
    .centered-text {text-align: center;}
    .bold-text {font-weight: bold;}
    .thin-text {font-weight: lighter;}
    .small-text{font-size: small;}
    .medium-text{font-size: medium;}
    .c44{font-weight: bold; position: relative;  top:-350px; left:500px;}
    .tankgame{font-weight: bold; position: relative;  top:-500px; left:0px;}
    .sk{position:relative; top:100px;}
    .pj{position:relative; top:0px;}
    .cc{position:relative; top:	600px;}
    #projects{height: 150vh;}
